/Servidor/parametrosColor/target/
/Servidor/parametrosColorPHP/nbproject/private/
/Servidor/sessionsLevelsJava/target/
/Servidor/sessionsLevelsPHP/nbproject/private/
/Servidor/databaseJava/target/
/Servidor/databaseJavaPool/target/
/Servidor/databasePHP/vendor/
/Servidor/databasePHP/nbproject/private/
/Servidor/databasePHP - copia/nbproject/private/
/Servidor/databasePHP - copia/vendor/
/Servidor/Ricardo Remache - CRUD-PHP/nbproject/private/
/Servidor/Ricardo Remache - CRUD-PHP/vendor/
/Servidor/Consumir Api/EMT/nbproject/private/
/Servidor/Consumir Api/EMT/dist/
/Servidor/Consumir Api/EMT/build/
/Servidor/Consumir Api/ConsumeApiEMTJava/nbproject/private/
/Servidor/Consumir Api/ConsumirApiEMTJava/target/
/Cliente/Proyectos/Ajax/databasePHP/nbproject/private/
/Cliente/Proyectos/Ajax/databasePHP/vendor/
/Cliente/Proyectos/Ajax/AjaxI/nbproject/private/
/Cliente/Proyectos/Ajax/AjaxI/vendor/
/Servidor/Consumir Api/ConsumirAPIFootballPHP/nbproject/private/
/Servidor/Consumir Api/ConsumirAPIFootballPHP/vendor/
/Servidor/twitter_dev/nbproject/private/
/Servidor/twitter_dev/vendor/
/Servidor/databaseJavaRest/target/
/Servidor/databaseJavaClient/target/
/Cliente/Aplicacion_bancaria/PHP/nbproject/private/
/Cliente/Proyectos/angular/angularProy/HTML5Angular/nbproject/private/
/Cliente/Proyectos/angular/angular-app/nbproject/private/
/Servidor/databasePHPClient/nbproject/private/
/Servidor/databasePHPClient/vendor/
/Cliente/Aplicacion_bancaria/AppBancaria/target/
/Servidor/GoogleOAUTH/target/
/Servidor/SimpleChat/target/
/Servidor/websocketChat/target/
