/Servidor/parametrosColor/target/
/Servidor/parametrosColorPHP/nbproject/private/
/Servidor/sessionsLevelsJava/target/
/Servidor/sessionsLevelsPHP/nbproject/private/
/Servidor/databaseJava/target/
/Servidor/databasePHP/vendor/
/Servidor/databasePHP/nbproject/private/
/Servidor/databasePHP - copia/nbproject/private/
/Servidor/databasePHP - copia/vendor/
/Servidor/Ricardo Remache - CRUD-PHP/nbproject/private/
/Servidor/Ricardo Remache - CRUD-PHP/vendor/