body {
  border-style: ridge;
  border-width: 1px;
  margin: auto;
}
header, nav, footer, article {
  display: block;
}
header {
  border-style: ridge;
  background-color: #bbffad;
  height: 60px;
  text-align: center;
  font-weight: bold;
  color: #6600cc;
  font-size: xx-large;
  border-bottom-width: 1px;
  text-transform: uppercase;
}
nav {
  padding: 2px;
  float: left;
  width: 20%;
  padding-bottom: 97%;
  background-color: #ffdcfa;
  background-image: url("imagenes/Muneco_04.jpg");
  background-size: 73px 52px;
  background-repeat: no-repeat;
  background-position: 0cm 8cm;
  background-attachment: fixed;
}
article {
  border-style: ridge;
  padding: 1%;
  background-color: #fffcbd;
  background-image: url("imagenes/Muneco_03.jpg");
  background-size: 146px 103px;
  background-repeat: no-repeat;
  background-position: 100% 7cm;
  background-attachment: fixed;

  float: right;
  width: 77%;
  border-left-width: 2px;
  text-align: justify;
}
footer {
  background: #c4fff6 none repeat scroll 0% 50%;
  clear: both;
}
nav a {
  font-size: 12px;
}
#cabecera {
  vertical-align: -10px;
}
#ejemp01 {
  color: blue;
  background-color: yellow;
}
#ejemp02 {
  padding: 10px;
  color: blue;
  background-color: yellow;
}
