@CHARSET "ISO-8859-1";
/*			Estilo de la tabla de Departamentos 			*/

#dep_cntTabla {
	width: 547px; 
	height: 400px; 
	margin-left:0px; 
	margin-right:10px;
	font-style:normal; 
	font-weight: bold; 
	color: #00478F; 
	font-family: Arial;
	
}
#dep_pestania1 {
	width:120px; 
	height:27px; 
	float:left; 
	cursor: pointer;
	/*background-color: black; */
	padding: 5px 5px 0px 5px; 
	border-radius: 20px 20px 0 0;
	border-bottom: 0;
	border-right: 2px #005C99 solid;
	border-top: 2px #005C99 solid;
	border-left: 2px #005C99 solid;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 1%, #4493e2 8%, #a2daf5 61%, #bdf3fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f9f9f9), color-stop(8%,#4493e2), color-stop(61%,#a2daf5), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
}
#dep_relleno{
	width: 328px;
	float: left;
	border-bottom: 2px #005C99 solid;
	height: 32px;
}
#dep_pestania2 {
	width:75px; 
	height:25px; 
	float: right;
	cursor: pointer; 
	margin-right: -4px;
	margin-bottom: 0px;
	
	padding: 5px 5px 0px 5px; 
	border-radius: 20px 20px 0 0;
	border-bottom: 2px #005C99 solid;
	border-right: 2px #005C99 solid;
	border-top: 2px #005C99 solid;
	border-left: 2px #005C99 solid;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f9f9f9 1%, #4493e2 8%, #a2daf5 61%, #bdf3fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f9f9f9), color-stop(8%,#4493e2), color-stop(61%,#a2daf5), color-stop(100%,#bdf3fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f9f9f9 1%,#4493e2 8%,#a2daf5 61%,#bdf3fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
}
#dep_cuerpoTabla {
	width:100%; 
	height: 370px; 
	/*background-color: black; */
	clear:both;
	border-top: 0;
	border-right: 2px #005C99 solid;
	border-bottom: 2px #005C99 solid;
	border-left: 2px #005C99 solid;
	background: #bdf3fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #bdf3fd 10%, #76bce2 77%, #4493e2 96%, #4493e2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#bdf3fd), color-stop(77%,#76bce2), color-stop(96%,#4493e2), color-stop(100%,#4493e2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bdf3fd 10%,#76bce2 77%,#4493e2 96%,#4493e2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bdf3fd 10%,#76bce2 77%,#4493e2 96%,#4493e2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bdf3fd 10%,#76bce2 77%,#4493e2 96%,#4493e2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bdf3fd 10%,#76bce2 77%,#4493e2 96%,#4493e2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdf3fd', endColorstr='#4493e2',GradientType=0 ); /* IE6-9 */
}
#dep_colum1{
	width:93.5%;
	margin: 8px;
	float:left;
	height: 90%;
	padding: 10px;
	display: block;
}
#dep_colum2{
	width:93.5%;
	margin: 8px;
	float: left;
	height: 90%;
	padding: 10px;
	display: none;
}
.dep_departamento{
	float: left;
	font-size: 10pt;
	width: 135px;
	height: 40px;
	min-height: 30px;
	text-align: left;
	padding: 3px 13px 3px 20px;
	margin-left: 0px;
}
.dep_departamento img{
	float: left;
	margin-right: 5px;
	height: 100%;
}
.dep_departamento a{
	text-decoration: none;
	/*height: 100%;*/
}










