@CHARSET "UTF-8";
/* tables */
table.dktable_default {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	text-align: left;
}
table.dktable_default thead tr th, table.dktable_default tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}

table.dktable_default tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.dktable_default tbody tr.odd td {
	background-color:#F0F0F6;
}
table.dktable_default thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.dktable_default thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.dktable_default thead tr .headerSortDown, table.dktable_default thead tr .headerSortUp {
	background-color: #8dbdd8;
	background-position: center right;
	cursor: pointer;
	background-repeat:no-repeat;
}
