.ensenanzas_izquierda{text-align: left;}
.ensenanzas_ul{line-height:31px;}
.ensenanzas_titulo{font-size: 18px;}
.ensenanzas_subtitulo{font-size: 16px;}
.ensenanzas_subrayado{text-decoration: underline;}