body {
  border-style: ridge;
  border-width: 1px;
  margin: auto;
}
#header, #nav, #footer, #article {
  display: block;
}
#header {
  border-style: ridge;
  background-color: #bbffad;
  height: 80px;
  text-align: center;
  font-weight: bold;
  color: #6600cc;
  font-size: xx-large;
  border-bottom-width: 1px;
  text-transform: uppercase;
}
#cabecera {
  position: relative;
  top: -10px;
}
#nav {
  padding: 2px;
  float: left;
  width: 20%;
  height: 475px;
  overflow: scroll;
  background-color: #ffdcfa;
  background-image: url("Muneco_04.jpg");
  background-size: 73px 52px;
  background-repeat: no-repeat;
  background-position: 0cm 8cm;
  background-attachment: fixed;
  font-size: 12px;
}
#article {
  border-style: ridge;
  padding: 1%;
  background-color: #fffcbd;
  background-image: url("Muneco_03.jpg");
  background-size: 146px 103px;
  background-repeat: no-repeat;
  background-position: 100% 7cm;
  background-attachment: fixed;
  float: left;
  width: 77%;
  height: 450px;
  overflow: scroll;
  border-left-width: 2px;
  text-align: justify;
}
#footer {
  background: #c4fff6 none repeat scroll 0% 50%;
  clear: both;
  padding-left:20px;
  font-size: 11px;
}
#footer:after {
  content: "By Santiago Alonso";
}
.codigo  {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    color: #005500;
}
/* Para añadir el padding 2 cm a codigo*/
.codigo2 {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    color: #005500;
    padding-left: 2cm;
}
.resul  {
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
    color: #550000;
    padding-left: 2cm;
}
img.imagenCentrada {
    display: block;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
}

